[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
youtube-transcript-api = "*"
beautifulsoup4 = "*"
streamlit = "*"
PyPDF2 = "*"
langchain = "*"
langchain-community = "*"
google-generativeai = "*"
langchain-google-genai = "*"
requests = "*"
python-dotenv = "*"
faiss-cpu = "*"
altair = "*"
pytesseract = "*"
numpy = "*"
yt-dlp = "*"
openai-whisper = "*" 
librosa = "*"
soundfile = "*"
whisper = "*"



[dev-packages]

[requires]
python_version = "3.12"
